[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shell = "*"
django-compressor = "*"
python-decouple = "*"
mysqlclient = "*"
pillow = "*"
pymysql = "*"
cryptography = "*"
django = "*"
midtransclient = "*"

[dev-packages]

[requires]
python_version = "3.13"
