{% extends '../layout/base.html' %}{% block content %}
<section class="long_about">
  <article class="content">
    <div class="intro">
      <div class="head">
        <div class="text">
          <span>Apa itu Dapurku?</span>
          <p>Membangun Ekonomi Lokal Melalui Kreativitas dan Inovasi Kuliner</p>
        </div>
        <img src="/static/img/logo.png" alt="" />
      </div>
      <p>
        Dapur UMKM adalah tempat di mana cita rasa lokal dari Kota Bogor bertemu
        dengan peluang global. Kami hadir untuk
        <b>mendukung pelaku UMKM kuliner Kota Bogor</b> dalam mempromosikan
        produk terbaik mereka, menjangkau lebih banyak pelanggan, dan
        <b>mengembangkan usaha secara berkelanjutan</b>.
      </p>
    </div>
    <div class="challenge">
      <div class="desc">
        <span>Bisnis Kami</span>
        <p>
          Di tengah persaingan yang semakin ketat, pelaku UMKM kuliner sering
          menghadapi tantangan dalam memasarkan produk mereka. Kami memahami
          betapa sulitnya untuk mendapatkan perhatian pelanggan di pasar yang
          ramai. Oleh karena itu, kami berkomitmen untuk memberikan solusi yang
          inovatif dan efektif bagi pelaku UMKM kuliner di Kota Bogor.
        </p>
      </div>
      <div class="analysis">
        <div class="column">
          <div class="box">
            <span class="amount">315<span>±</span></span>
            <span>UMKM kuliner Kota Bogor</span>
          </div>
          <div class="box">
            <span class="amount">Rp9.580<span>Triliun</span></span>
            <span>PDB per tahun</span>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <span class="amount">116<span>jt</span></span>
            <span>Tenaga kerja</span>
          </div>
          <div class="box">
            <span class="amount">000<span>±</span></span>
            <span>Produk yang terdaftar</span>
          </div>
        </div>
      </div>
    </div>
    <div class="vision-mission">
      <img src="/static/img/1.jpg" alt="" />
      <div class="desc">
        <span>Visi & Misi</span>
        <p>
          Visi kami adalah menjadi <b>platform terdepan</b> yang menghubungkan
          pelaku UMKM kuliner Kota Bogor dengan pelanggan di seluruh dunia.<br />Misi
          kami adalah memberikan dukungan penuh kepada pelaku
          <b>UMKM kuliner Kota Bogor</b>
          dalam memasarkan produk mereka secara efektif, serta membantu mereka
          mengembangkan usaha dengan cara yang berkelanjutan.
        </p>
      </div>
    </div>
    <div class="socmed">
      <span>Ikuti Kami di Media Sosial</span>
      <div class="links">
        <a
          href="https://www.instagram.com/dapurku.store?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
          target="_blank"
          ><img src="/static/logo/ig.png" alt="Instagram" />
          <span>@dapurku.store</span></a
        >
      </div>
    </div>
  </article>
</section>
{% endblock %}
