{% extends '../layout/base.html' %} {% block content %}
<section class="contact">
  <article class="content">
    <div class="connects">
      <div class="desc">
        <span>Hubungi Kami!</span>
        <span>
          Kami sangat senang mendengar kabar dari Anda! Baik itu pertanyaan,
          masukan, atau sekadar ingin menyapa, tim kami siap untuk terhubung.
          Jangan ragu untuk menghubungi kami kapan saja—kami selalu senang
          mendukung, mendengarkan, dan berkembang bersama. Suara Anda berarti
          bagi kami, dan kami antusias membangun hubungan yang bermakna dengan
          Anda. Mari tetap terhubung!
        </span>
      </div>
      <div class="informations">
        <div class="row">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="svg-20"
          >
            <path
              d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z"
            />
            <path
              d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z"
            />
          </svg>

          <div class="col">
            <span>E-mail</span>
            <span>abc@gmail.com</span>
          </div>
        </div>
        <div class="row">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="svg-20"
          >
            <path
              fill-rule="evenodd"
              d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z"
              clip-rule="evenodd"
            />
          </svg>

          <div class="col">
            <span>Nomor telepon</span>
            <span>+61-8123-4567-890</span>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-form">
      <span>Pertanyaan atau Masukan?</span>
      <form action="">
        <div class="input-box">
          <label for="nama-input">Nama</label>
          <input
            type="text"
            id="nama-input"
            autocomplete="off"
            placeholder="Masukkan nama..."
            required
          />
        </div>
        <div class="input-box">
          <label for="email-input">E-mail</label>
          <input
            type="email"
            id="email-input"
            autocomplete="off"
            placeholder="Masukkan e-mail..."
            required
          />
        </div>
        <div class="input-box">
          <label for="password-input">Password</label>
          <input
            type="password"
            id="password-input"
            autocomplete="off"
            placeholder="Masukkan password..."
            required
          />
        </div>
        <button>
          Submit<svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="svg-20"
          >
            <path
              fill-rule="evenodd"
              d="M13.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L11.69 12 4.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z"
              clip-rule="evenodd"
            />
            <path
              fill-rule="evenodd"
              d="M19.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06L17.69 12l-6.97-6.97a.75.75 0 0 1 1.06-1.06l7.5 7.5Z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </form>
    </div>
  </article>
</section>
{% endblock %}
