{% extends '../layout/base.html' %} {% block content %}
<section class="contact">
  <article class="content">
    <div class="connects">
      <div class="desc">
        <span>Hubungi Kami!</span>
        <span>
          Kami sangat senang mendengar kabar dari Anda! Baik itu pertanyaan,
          masukan, atau sekadar ingin menyapa, tim kami siap untuk terhubung.
          Jangan ragu untuk menghubungi kami kapan saja—kami selalu senang
          mendukung, mendengarkan, dan berkembang bersama. Suara Anda berarti
          bagi kami, dan kami antusias membangun hubungan yang bermakna dengan
          Anda. Mari tetap terhubung!
        </span>
      </div>
      <div class="informations">
        <div class="row">
          <i class="fa-solid fa-envelope"></i>
          <div class="col">
            <span>E-mail</span>
            <span>abc@gmail.com</span>
          </div>
        </div>
        <div class="row">
          <i class="fa-solid fa-phone"></i>
          <div class="col">
            <span>Nomor telepon</span>
            <span>+61-8123-4567-890</span>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-form">
      <span>Pertanyaan atau Masukan?</span>
      <form action="">
        <div class="input-box">
          <label for="nama-input">Nama</label>
          <input
            type="text"
            id="nama-input"
            autocomplete="off"
            placeholder="Masukkan nama..."
            required
          />
        </div>
        <div class="input-box">
          <label for="email-input">E-mail</label>
          <input
            type="email"
            id="email-input"
            autocomplete="off"
            placeholder="Masukkan e-mail..."
            required
          />
        </div>
        <div class="input-box">
          <label for="password-input">Password</label>
          <input
            type="password"
            id="password-input"
            autocomplete="off"
            placeholder="Masukkan password..."
            required
          />
        </div>
        <button>Submit<i class="fa-solid fa-angle-right"></i></button>
      </form>
    </div>
  </article>
</section>
{% endblock %}
