{% extends '../layout/base.html' %}{% block content %}
<section class="order-list">
  <article class="content">
    <!-- BACK BUTTON -->
    <a href="{% url 'cart' %}" class="back-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="svg-25"
      >
        <path
          fill-rule="evenodd"
          d="M7.28 7.72a.75.75 0 0 1 0 1.06l-2.47 2.47H21a.75.75 0 0 1 0 1.5H4.81l2.47 2.47a.75.75 0 1 1-1.06 1.06l-3.75-3.75a.75.75 0 0 1 0-1.06l3.75-3.75a.75.75 0 0 1 1.06 0Z"
          clip-rule="evenodd"
        />
      </svg>
      Kembali ke halaman keranjang
    </a>

    <h1>Daftar Pesanan Anda:</h1>
    <span>*screenshot for evidence</span>
    <div class="orders">
      {% for order in orders %}
      <div class="order-item">
        <!-- IMG -->
        {% if item.product.image %}
        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" />
        {% else %}
        <img src="/static/img/1.jpg" alt="default image" />
        {% endif %}
        <div class="desc">
          <span>#{{ order.id }} - {{ order.product.name }}</span>
          <span>{{ order.created_at }}</span>
          <p class="quantity">Anda membeli {{ order.quantity }} produk</p>
          <p class="price">{{ order.product.price }}/pcs</p>
          <p class="totalPrice">Total Harga: Rp<span id="totalPrice"></span></p>
          <p class="whatsapp">Contact: {{ order.user.phone_number }}</p>
        </div>
      </div>
      {% empty %}
      <p>Anda belum memiliki pesanan.</p>
      {% endfor %}
  </article>
</section>
{% endblock %} {% block script %}
<script>
  // Calculate and display total price for each order
  document.addEventListener("DOMContentLoaded", function () {
    const orderItems = document.querySelectorAll(".order-item");
    orderItems.forEach(function (item) {
      const priceText = item.querySelector(".price").textContent;
      const quantityText = item.querySelector(".quantity").textContent;


      const price = parseFloat(priceText.replace(/[^0-9.-]+/g, ""));
      const quantityMatch = quantityText.match(/(\d+)/);
      const quantity = quantityMatch ? parseInt(quantityMatch[1]) : 0;

      const totalPrice = price * quantity;
      item.querySelector("#totalPrice").textContent = totalPrice.toLocaleString();
    });
  });
</script>
{% endblock %}