{% extends '../layout/base.html' %} {% block content %}
<section class="order">
  <article class="content">
    <a href="{% url 'cart' %}" class="back-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="svg-25"
      >
        <path
          fill-rule="evenodd"
          d="M7.28 7.72a.75.75 0 0 1 0 1.06l-2.47 2.47H21a.75.75 0 0 1 0 1.5H4.81l2.47 2.47a.75.75 0 1 1-1.06 1.06l-3.75-3.75a.75.75 0 0 1 0-1.06l3.75-3.75a.75.75 0 0 1 1.06 0Z"
          clip-rule="evenodd"
        />
      </svg>
      Kembali ke keranjang</a
    >

    <div class="order-list">
      <div class="order-container">
        <div class="order-info">
          <div class="desc">
            <h2>Pesanan #{{ item.product.id }}</h2>
            <p><small>{{ product.created_at|date:"d M Y, H:i" }}</small></p>
          </div>

          <div class="products">
            {% for item in products %}
            <div class="product">
              {% if item.product.image %}
              <img
                src="{{ item.product.image.url }}"
                alt="{{ item.product.name }}"
              />
              {% else %}
              <img src="/static/img/1.jpg" alt="default image" />
              {% endif %}
              <div class="desc">
                <span class="product-name">{{ item.product.name }}</span>
                <span class="product-quantity"
                  >Jumlah: {{ item.product.quantity }}</span
                >
                <span class="product-price"
                  >Harga: Rp {{ item.product.price|floatformat:0 }}</span
                >
                <span class="total"
                  >Total: Rp {{ item.total_price|floatformat:0 }}</span
                >
              </div>
              {% empty %}
              <p>Belum ada pesanan.</p>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="order-summary">
          <strong
            >Total Harga: Rp {{ product.total_price|floatformat:0 }}</strong
          >
          <button class="checkout-btn">Beli</button>
        </div>
      </div>
    </div>
  </article>
</section>
{% endblock %} {% block script %}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    /* ADDRESS */
    const addressIcon = document.querySelector(".user-address i");
    const deliveryIcon = document.querySelector(".delivery-option i");

    window.addEventListener("click", (e) => {
      if (e.target == addressIcon) {
        popup.classList.add("address", "active");
        popup.setAttribute("class", "popup address active");
        popupContent.innerHTML = `
          <i class="fa-solid fa-xmark"></i>
          <span>Masukkan alamat anda</span>
          <div class="address-input">
            <div class="inputs">
              <div class="input-box">
                <label for="street">Name jalan</label>
                <input type="text" id="street" placeholder="Jalan..." />
              </div>
              <div class="input-box">
                <label for="house_no">Nomor Rumah</label>
                <input type="text" id="house_no" placeholder="Rumah nomor..." />
              </div>
              <div class="input-box">
                <label for="rtrw">RT/RW</label>
                <input type="text" id="rtrw" placeholder="RT/RW..." />
              </div>
              <div class="input-box">
                <label for="kelurahan">Kelurahan/Desa</label>
                <input
                  type="text"
                  id="kelurahan"
                  placeholder="Kelurahan/Desa..."
                />
              </div>
              <div class="input-box">
                <label for="kecamatan">Kecamatan</label>
                <input type="text" id="kecamatan" placeholder="Kecamatan..." />
              </div>
              <div class="input-box">
                <label for="city">Kota/Kabupaten</label>
                <input type="text" id="city" placeholder="Kota/Kabupaten..." />
              </div>
              <div class="input-box">
                <label for="province">Provinsi</label>
                <input type="text" id="province" placeholder="Provinsi..." />
              </div>
              <div class="input-box">
                <label for="postal_code">Kode Pos</label>
                <input type="text" id="postal_code" placeholder="Kode Pos..." />
              </div>
            </div>
            <button class="edit-btn">Edit</button>
          </div>
        `;

        popupContent.querySelector("i").addEventListener("click", () => {
          popup.classList.remove("active");
        });
      } else if (e.target == deliveryIcon) {
        popup.classList.add("delivery", "active");
        popup.setAttribute("class", "popup delivery active");
        popupContent.innerHTML = `
          <i class="fa-solid fa-xmark"></i>
          <span>Masukkan opsi pengiriman</span>
          <div class="delivery-input">
            <div class="delivery-drop">
              <div class="input-box">
                <label for="delivery_method">Metode Pengiriman</label>
                <select id="delivery_method">
                  <option value="standard">Pengiriman Standar</option>
                  <option value="express">Pengiriman Ekspres</option>
                </select>
              </div>
              <i class="fa-solid fa-caret-down"></i>
            </div>
            <span>Estimasi pengiriman: <span></span>hari</span>
            <span>Biaya pengiriman: Rp.<span></span></span>
            <button class="edit-btn">Edit</button>
          </div>
        `;

        popupContent.querySelector("i").addEventListener("click", () => {
          popup.setAttribute("class", "popup");
        });
      } else if (e.target == popup) {
        popup.setAttribute("class", "popup");
      }
    });

    /* COUNTER */
    const counters = document.querySelectorAll(".counter");
    counters.forEach((counter) => {
      const decreaseBtn = counter.querySelector(".decrease-btn");
      const increaseBtn = counter.querySelector(".increase-btn");
      const inputField = counter.querySelector("input");

      decreaseBtn.addEventListener("click", () => {
        let value = parseInt(inputField.value);
        if (value > 0) {
          value--;
          inputField.value = value;
        }
      });

      increaseBtn.addEventListener("click", () => {
        let value = parseInt(inputField.value);
        value++;
        inputField.value = value;
      });
    });

    /* CHECKOUT */
    const checkout = document.querySelector(".checkout");
    window.addEventListener("scroll", () => {
      if (window.screenY >= checkout.screenY) {
        checkout.classList.add("fixed");
      } else {
        checkout.classList.remove("fixed");
      }
    });
  });
</script>
{% endblock %}
