{% extends '../layout/base.html' %}{% block content %}
<section class="umkm-profile">
  <div class="content">
    <a href="{% url 'products' %}" class="back-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="svg-25"
      >
        <path
          fill-rule="evenodd"
          d="M7.28 7.72a.75.75 0 0 1 0 1.06l-2.47 2.47H21a.75.75 0 0 1 0 1.5H4.81l2.47 2.47a.75.75 0 1 1-1.06 1.06l-3.75-3.75a.75.75 0 0 1 0-1.06l3.75-3.75a.75.75 0 0 1 1.06 0Z"
          clip-rule="evenodd"
        />
      </svg>
      Kembali ke halaman depan</a
    >

    <div class="umkm-content">
      <div class="umkm-info">
        {% if user.profile_image %}
        <img
          src="{{ user.profile_image.url }}"
          alt="Profile Image"
          width="150"
          height="150"
        />
        {% else %}
        <img
          src="/static/img/1.jpg"
          alt="Default Avatar"
          width="150"
          height="150"
        />
        {% endif %}
        <div class="desc">
          <div class="head">
            <h1>{{ user.username }}</h1>
            {% if user.user_status == "active" %}
            <span class="active">{{ user.user_status }}</span>
            {% else %}
            <span>{{ user.user_status }}</span>
            {% endif %}
          </div>
          <div class="col">
            <div class="row">
              <span>Email:</span>
              <span class="underline-text" id="lblEmail">{{ user.email }}</span>
            </div>
            <div class="row">
              <span>Phone Number:</span>
              <span class="underline-text" id="lblPhone"
                >{{ user.phone_number }}</span
              >
            </div>
            <div class="row">
              <span>Status:</span>
              <span class="underline-text" id="lblStatus"
                >{{ user.get_user_status_display }}</span
              >
            </div>
            <div class="row">
              <span>Deskripsi:</span>
              <span class="underline-text" id="lblDescription">
                {{ user.description }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="umkm-products">
        <h2 class="underline-text">Produk UMKM</h2>
        <div class="product-list">
          {% for product in umkmProducts %}
          <a href="{% url 'product_detail' product.pk %}" class="product-item">
            <span class="category {{ product.category }}"
              >{{ product.category }}</span
            >
            <div class="image">
              {% if product.image %}
              <img src="{{ product.image.url }}" alt="{{ product.name }}" />
              {% else %}
              <img src="/static/img/1.jpg" alt="product-img" />
              {% endif %}
              <div class="overlay">{{ product.description }}</div>
            </div>
            <div class="desc">
              <span class="nama">{{ product.name }}</span>
              <span class="harga">Rp{{ product.price }}</span>
              <p>{{ product.umkm_user_id.username }}</p>
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="svg-20"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                    clip-rule="evenodd"
                  />
                </svg>
                {{ product.rating }} | {{ product.sold }} terjual
              </span>
            </div>
          </a>
          {% empty %}
          <p class="no-products">Tidak ada produk UMKM yang tersedia.</p>
          {% endfor %}
        </div>
      </div>
      <div class="other-products">
        <h2 class="underline-text">Produk Lainnya</h2>
        <div class="product-list">
          {% for product in otherProducts %}
          <a href="{% url 'product_detail' product.pk %}" class="product-item">
            <span class="category {{ product.category }}"
              >{{ product.category }}</span
            >
            <div class="image">
              {% if product.image %}
              <img src="{{ product.image.url }}" alt="{{ product.name }}" />
              {% else %}
              <img src="/static/img/1.jpg" alt="product-img" />
              {% endif %}
              <div class="overlay">{{ product.description }}</div>
            </div>
            <div class="desc">
              <span class="nama">{{ product.name }}</span>
              <span class="harga">Rp{{ product.price }}</span>
              <p>{{ product.umkm_user_id.username }}</p>
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="svg-20"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                    clip-rule="evenodd"
                  />
                </svg>
                {{ product.rating }} | {{ product.sold }} terjual
              </span>
            </div>
          </a>
          {% empty %}
          <p class="no-products">Tidak ada produk lainnya yang tersedia.</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
