{% block content %}
<section class="popup">
    <article class="content">
            <h2>Popup Title</h2>
        <p>Popup Content</p>
    </article>
</section>
  {% endblock %} {% block script %}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const popup = document.querySelector(".popup");
    const popupContent = popup.querySelector(".content");

    popupContent.querySelector("i").addEventListener("click", () => {
      popup.classList.remove("active");
    });

    popupContent.querySelector("button").addEventListener("click", () => {
      popup.classList.remove("active");
    });
    
    popupContent.querySelector("form").addEventListener("submit", (e) => {
      e.preventDefault();
      popup.classList.remove("active");
    });
  });
</script>
{% endblock %}