{% extends '../../layout/base.html' %} {% block content %}
<section class="edit-product">
  <article class="content">
    <a href="{% url 'profile' %}" class="back-btn"
      ><i class="fa-solid fa-arrow-left"></i>Kembali ke halaman profil</a
    >
    <h1 class="judul">Tambah Produk Baru</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="main-details">
        <div class="img-box">
          <img src="/static/1.jpg" alt="product-img" />
          <label for="image">
            <i class="fa-solid fa-pen"></i>
            <input
              type="file"
              name="image"
              id="image"
              accept="image/*"
              required
            />
          </label>
        </div>
        <div class="inputs">
          <div class="input-box">
            <label for="product_name">Product Name</label>
            <input
              type="text"
              name="product_name"
              id="product_name"
              placeholder="Masukkan nama produk..."
              autocomplete="off"
              required
            />
          </div>
          <div class="input-box">
            <label for="price">Price</label>
            <input
              type="text"
              name="price"
              id="price"
              placeholder="Masukkan harga produk..."
              autocomplete="off"
              required
            />
          </div>
          <div class="input-box">
            <label for="category">Category</label>
            <select name="category" id="category" required>
              <option value="makanan kering">Makanan Kering</option>
              <option value="makanan basah">Makanan Basah</option>
              <option value="manis">Manis</option>
              <option value="asin">Asin</option>
            </select>
          </div>
          <div class="desc-box">
            <label for="description">Description</label>
            <textarea
              name="description"
              id="description"
              placeholder="Masukkan deskripsi produk..."
              required
            ></textarea>
          </div>
          <div class="check-box">
            <label for="is_available">Available</label>
            <input type="checkbox" name="is_available" id="is_available" />
          </div>
        </div>
      </div>
      <div class="variant-container">
        <div class="head">
          <h2 class="underline-text">Varian</h2>
          <span class="add-button">Tambah varian</span>
        </div>
        {{ formset.management_form }}
        <div class="variants">
          {% for variant_form in formset %}
          <div class="variant">
            <div class="input-box">
              {{ variant_form.name.label_tag }} {{ variant_form.name }}
            </div>
            <div class="input-box">
              {{ variant_form.additional_price.label_tag }}
              <div class="additional-price">
                {{ variant_form.additional_price }}
                <span>Rp</span>
              </div>
            </div>
            <div class="input-box">
              {{ variant_form.stock.label_tag }} {{ variant_form.stock }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <button type="submit">Tambah Produk</button>
    </form>
  </article>
</section>
{% endblock %} {% block script %}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const addVariantBtn = document.querySelector(".add-button");
    const variantFormContainer = document.querySelector(".variants");
    const variantForm = document.createElement("div");
    variantForm.classList.add("variant");
    variantForm.innerHTML = `
      <div class="input-box">
        {{ variant_form.name.label_tag }} {{ variant_form.name }}
      </div>
      <div class="input-box">
        {{ variant_form.additional_price.label_tag }}
        <div class="additional-price">
          {{ variant_form.additional_price }}
          <span>Rp</span>
        </div>
      </div>
      <div class="input-box">
        {{ variant_form.stock.label_tag }} {{ variant_form.stock }}
      </div>
    `;

    console.log(addVariantBtn, variantFormContainer, variantForm);

    addVariantBtn.addEventListener("click", () => {
      variantFormContainer.appendChild(variantForm);
    });
  });
</script>
{% endblock %}
